*{
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
h2{
    font-size: 1.4em;
    font-weight: 700;
}
/** Style du header */
header{
    padding: 15px;
    box-shadow: #000000b0 3px 0 6px;
    min-height: 80px;
    position: relative;
    z-index: 1;
}
header figure{
    float: left;
}
@media screen and (max-width: 767px) {
    header figure{
        float: none;
        text-align: center;
    }
}
header ul{
    display: flex;
    justify-content: center;
    gap: 25px;
}
@media screen and (max-width: 767px) {
    header ul{
        flex-wrap: wrap;
    }
}
header li{
    padding: 10px;
    border-bottom: solid 2px #6f8687;
    margin-bottom: 2px;
}
header a{
    color: #000000;
    text-transform: uppercase;
    font-size: 1.25em;
    text-decoration: none;
}
header li:hover{
    border-bottom: solid 4px #5b8187;
    margin-bottom: 0;
}
/** Style du main */
main{
    background-color: #f9f9fb;
}
section{
    width: 1200px;
    max-width: 100%;
    margin: auto;
    padding: 20px;
}
article{
    background-color: #ffffff;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 20px;
    min-height: 190px;
    box-shadow: #cccccc 3px 3px 10px;
}
article figure{
    float: left;
}
article img{
    display: block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 10px;
}
article:nth-child(2n+1) figure{
    float: right;
}
article:nth-child(2n+1){
    text-align: end;
}
article hr{
    color: #cccccc; /* ne marche pas. Je n'arrive pas à changer la couleur */
}
@media screen and (max-width: 767px) {
    article figure, article:nth-child(2n+1) figure{
        float: none;
    }
    article, article:nth-child(2n+1){
        text-align: center;
    }
    article img{
        margin: auto;
    }
}
/** Style du footer */
footer{
    background-color: #595758;
    padding: 60px 15px;
}
footer ul{
    display: flex;
    justify-content: center;
    gap: 15px;
}
@media screen and (max-width: 767px) {
    footer ul{
        flex-wrap: wrap;
    }
}
footer a{
    color: #ffffff;
    font-weight: 500;
}
